body{
    background-image:url("assets/ef344753c7826db6f2caec0beb977f52.jpg");
    background-repeat: repeat;
    background-size: 66px 66px;
    background-blend-mode:darken;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 672px;
    height: 672px;
    border: 2px solid black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.square{
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    /* margin: 10px; */
    background-color: #fff;
}

.h1{    
    text-align: center;
}